<?xml version="1.0"?>
<model>
  <name>psu_iris_depth_cam</name>
  <version>1.0</version>
  <sdf version='1.5'>psu_iris_depth_cam.sdf</sdf>

  <author>
   <name>Mohamed Abdelkader</name>
   <email>mohamedashraf123@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with forward facing depth sensor.
    The original model has been created by Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
