<?xml version="1.0"?>
<launch>

    <arg name="add_intruder_2" default="false"/>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="psu_drone"/>
    <arg name="world_name" default="psu_world" />
    <arg name="world_path" default="$(find drone_hunter_sim)/worlds/$(arg world_name).world"/>

    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="headless" default="false"/>

    <param name="use_sim_time" value="true" />

    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="world_name" value="$(arg world_path)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>

    <!-- UAV0 -->
    <arg name="ns_0" default="interceptor"/>
    <node pkg="tf" type="static_transform_publisher" name="$(arg ns_0)_tf_camera" args="0.1 0 0.0 -1.57 0 -1.57 $(arg ns_0)_base_link $(arg ns_0)/depth_camera_link 33"/>
    <arg name="interceptor_init_x" default="-5" />
    <arg name="interceptor_init_y" default="0" />
    <arg name="interceptor_init_z" default="0" />
    <node pkg="tf" type="static_transform_publisher" name="tf_map_to_$(arg ns_0)_map" args="$(arg interceptor_init_x) $(arg interceptor_init_y) $(arg interceptor_init_z) 0 0 0 map $(arg ns_0)_odom 33"/>
    <group ns="$(arg ns_0)">
        <!-- MAVROS and vehicle configs -->
        <arg name="ID" value="0"/>
        <arg name="fcu_url" default="udp://:14540@localhost:14580"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find drone_hunter_sim)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="$(arg interceptor_init_x)"/>
            <arg name="y" value="$(arg interceptor_init_y)"/>
            <arg name="z" value="$(arg interceptor_init_z)"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="gazebo_model_name" value="$(arg ns_0)" />
            <arg name="mavlink_udp_port" value="14560"/>
            <arg name="mavlink_tcp_port" value="4560"/>
            <arg name="ID" value="$(arg ID)"/>
            <arg name="drone_color" value="Gazebo/DarkGrey"/>
        </include>
        <!-- MAVROS -->
        <include file="$(find drone_hunter_sim)/launch/mavros.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
            <arg name="pluginlists_yaml" value="$(find drone_hunter_sim)/config/px4_pluginlists.yaml" />
            <arg name="config_yaml" value="$(find drone_hunter_sim)/config/px4_interceptor_config.yaml" />
        </include>

    </group>

    <!-- UAV1 -->
    <arg name="ns_1" default="intruder"/>
    <arg name="intruder_init_x" default="0" />
    <arg name="intruder_init_y" default="0" />
    <arg name="intruder_init_z" default="0" />
    <node pkg="tf" type="static_transform_publisher" name="tf_map_to_$(arg ns_1)_map" args="$(arg intruder_init_x) $(arg intruder_init_y) $(arg intruder_init_z) 0 0 0 map $(arg ns_1)_odom 33"/>
    <group ns="$(arg ns_1)">
        <!-- MAVROS and vehicle configs -->
        <arg name="ID" value="1"/>
        <arg name="fcu_url" default="udp://:14541@localhost:14581"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find drone_hunter_sim)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="$(arg intruder_init_x)"/>
            <arg name="y" value="$(arg intruder_init_y)"/>
            <arg name="z" value="$(arg intruder_init_z)"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="gazebo_model_name" value="$(arg ns_1)" />
            <arg name="mavlink_udp_port" value="14561"/>
            <arg name="mavlink_tcp_port" value="4561"/>
            <arg name="ID" value="$(arg ID)"/>
            <arg name="drone_color" value="Gazebo/Red"/>
        </include>
        <!-- MAVROS -->
        <include file="$(find drone_hunter_sim)/launch/mavros.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
            <arg name="pluginlists_yaml" value="$(find drone_hunter_sim)/config/px4_pluginlists.yaml" />
            <arg name="config_yaml" value="$(find drone_hunter_sim)/config/px4_intruder_config.yaml" />
        </include>
    </group>

    <!-- UAV2 -->
    <arg name="ns_2" default="intruder2"/>
    <arg name="intruder2_init_x" default="0" />
    <arg name="intruder2_init_y" default="2" />
    <arg name="intruder2_init_z" default="0" />
    <node pkg="tf" type="static_transform_publisher" name="tf_map_to_$(arg ns_2)_map" args="$(arg intruder2_init_x) $(arg intruder2_init_y) $(arg intruder2_init_z) 0 0 0 map $(arg ns_2)_odom 33"/>
    <group if="$(arg add_intruder_2)" ns="$(arg ns_2)">
        <!-- MAVROS and vehicle configs -->
        <arg name="ID" value="2"/>
        <arg name="fcu_url" default="udp://:14542@localhost:14582"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find drone_hunter_sim)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="$(arg intruder2_init_x)"/>
            <arg name="y" value="$(arg intruder2_init_y)"/>
            <arg name="z" value="$(arg intruder2_init_z)"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="gazebo_model_name" value="$(arg ns_2)" />
            <arg name="mavlink_udp_port" value="14562"/>
            <arg name="mavlink_tcp_port" value="4562"/>
            <arg name="ID" value="$(arg ID)"/>
            <arg name="drone_color" value="Gazebo/Red"/>
        </include>
        <!-- MAVROS -->
        <include file="$(find drone_hunter_sim)/launch/mavros.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
            <arg name="pluginlists_yaml" value="$(find drone_hunter_sim)/config/px4_pluginlists.yaml" />
            <arg name="config_yaml" value="$(find drone_hunter_sim)/config/px4_intruder2_config.yaml" />
        </include>
    </group>
    
</launch>
<!-- to add more UAVs (up to 10):
Increase the id
Change the name space
Set the FCU to default="udp://:14540+id@localhost:14550+id"
Set the malink_udp_port to 14560+id) -->