<launch>
  
  <!-- Trajectory prediction -->
  <include file="$(find trajectory_prediction)/launch/predictor.launch">
    <arg name="ns" value="interceptor"/>
    <arg name="target_odom_topic" value="/target/odom"/>
  </include>

  <!-- MPC planner -->
  <include file="$(find mpc_tracker)/launch/mpc_tracker.launch">
    <arg name="ns" value="interceptor"/>
  </include>

  <!-- Navigator -->
  <!-- <include file="$(find mpc_tracker)/launch/navigator.launch">
    <arg name="ns" value="interceptor"/>
  </include> -->

  <!-- Trajectory sampler -->
  <!-- <group ns="interceptor">
    <node name="trajectory_sampler" pkg="mav_trajectory_generation_ros" type="trajectory_sampler_node" output="screen" />
  </group> -->

  <!-- Geomtric controller -->
      <arg name="vehicle" value="iris"/>

    <!-- Geometric controller -->    
    <arg name="command_input" default="2" /> 
    <arg name="gazebo_simulation" default="true" />
    <group ns="interceptor">
      <node pkg="geometric_controller" type="geometric_controller_node" name="geometric_controller">
          <remap from="command/bodyrate_command" to="mavros/setpoint_raw/attitude"/>
          <param name="mavname" type="string" value="$(arg vehicle)" />
          <param name="ctrl_mode" value="$(arg command_input)" />
          <param name="enable_sim" value="$(arg gazebo_simulation)" />
          <param name="max_acc" value="5.0"/>
          <param name="attctrl_constant" value="0.3"/>
          <param name="normalizedthrust_constant" value="0.06"/>
          <param name="normalizedthrust_offset" value="0.1"/>
          <param name="Kp_x" value="5.0"/>
          <param name="Kp_y" value="5.0"/>
          <param name="Kp_z" value="20.0"/>
          <param name="Kv_x" value="5.0"/>
          <param name="Kv_y" value="5.0"/>
          <param name="Kv_z" value="10.0"/>
          <param name="init_pos_x" value="5.0"/>
          <param name="init_pos_y" value="0.0"/>
          <param name="init_pos_z" value="3.0"/>
      </node>
    </group>

</launch>