<?xml version="1.0" ?>
<model>
    <name>psu_football_field</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Mohamed Abdelkader</name>
        <email>mohamedashraf123@gmail.com</email>
    </author>
    <description>SDF model of PSU university football field</description>
</model>